In [1]:
import pandas as pd

In [16]:
file_path = '/home/eric_baldwin/ddiMain/midterm/Satellite_Database_EDA/data/UCS-Satellite-Database-Officialname 5-1-2023.xlsx'
satellite_data = pd.read_excel(file_path)
satellite_data.head(10)

,Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAC AIS-Sat1 (Kelpie 1),United Kingdom,United Kingdom,AAC Clyde Space,Commercial,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,-75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ABS-3A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,-3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ABS-4,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ABS-6,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Adelis-Sampson 1,NR,Israel,Asher Space Research Institute at Technion/Isr...,Government,Technology Development,NaN,LEO,Sun-Synchronous,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset_shape = satellite_data.shape
print(dataset_shape)

(7560, 67)

In [7]:
data_types = satellite_data.dtypes
print(data_types)

Current Official Name of Satellite    object
Country/Org of UN Registry            object
Country of Operator/Owner             object
Operator/Owner                        object
Users                                 object
                                       ...
Unnamed: 62                           object
Unnamed: 63                           object
Unnamed: 64                           object
Unnamed: 65                           object
Unnamed: 66                           object
Length: 67, dtype: object

In [10]:
categorical_fields = data_types[data_types == 'object'].index.tolist()
print(categorical_fields)

['Current Official Name of Satellite', 'Country/Org of UN Registry', 'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose', 'Detailed Purpose', 'Class of Orbit', 'Type of Orbit', 'Dry Mass (kg.)', 'Power (watts)', 'Date of Launch', 'Contractor', 'Country of Contractor', 'Launch Site', 'Launch Vehicle', 'COSPAR Number', 'Comments', 'Unnamed: 27', 'Source Used for Orbital Data', 'Source', 'Source.1', 'Source.2', 'Source.3', 'Source.4', 'Source.5', 'Source.6', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66']

In [11]:
quantitative_fields = data_types[data_types != 'object'].index.tolist()
print(quantitative_fields)

['Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)', 'Eccentricity', 'Inclination (degrees)', 'Period (minutes)', 'Launch Mass (kg.)', 'Expected Lifetime (yrs.)', 'NORAD Number']

In [14]:
missing_data = satellite_data.isnull().sum()
print(missing_data)

Current Official Name of Satellite       0
Country/Org of UN Registry               1
Country of Operator/Owner                0
Operator/Owner                           0
Users                                    0
                                      ...
Unnamed: 62                           7075
Unnamed: 63                           7075
Unnamed: 64                           7075
Unnamed: 65                           7073
Unnamed: 66                           7075
Length: 67, dtype: int64

In [18]:
data_sample = satellite_data.head()
print(data_sample)

  Current Official Name of Satellite Country/Org of UN Registry  \
0                         1HOPSAT-TD                         NR
1            AAC AIS-Sat1 (Kelpie 1)             United Kingdom
2                            Aalto-1                    Finland
3                              AAt-4                    Denmark
4                              ABS-2                         NR

  Country of Operator/Owner                 Operator/Owner       Users  \
0                       USA                   Hera Systems  Commercial
1            United Kingdom                AAC Clyde Space  Commercial
2                   Finland               Aalto University       Civil
3                   Denmark          University of Aalborg       Civil
4             Multinational  Asia Broadcast Satellite Ltd.  Commercial

                  Purpose                       Detailed Purpose  \
0       Earth Observation                       Infrared Imaging
1       Earth Observation  Automatic Identification System (AIS)
2  Technology Development                                    NaN
3       Earth Observation  Automatic Identification System (AIS)
4          Communications                                    NaN

  Class of Orbit       Type of Orbit  Longitude of GEO (degrees)  ...  \
0            LEO  Non-Polar Inclined                         0.0  ...
1            LEO     Sun-Synchronous                         0.0  ...
2            LEO     Sun-Synchronous                         0.0  ...
3            LEO     Sun-Synchronous                         0.0  ...
4            GEO                 NaN                        75.0  ...

   Unnamed: 57  Unnamed: 58  Unnamed: 59  Unnamed: 60  Unnamed: 61  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 62 Unnamed: 63 Unnamed: 64 Unnamed: 65  Unnamed: 66
0          NaN         NaN         NaN         NaN          NaN
1          NaN         NaN         NaN         NaN          NaN
2          NaN         NaN         NaN         NaN          NaN
3          NaN         NaN         NaN         NaN          NaN
4          NaN         NaN         NaN         NaN          NaN

[5 rows x 67 columns]